@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .screen-section {
    @apply w-full flex items-center justify-center transition-all pt-28 pb-48;
  }

  .container {
    @apply mx-auto px-4;
  }

  .content-left {
    @apply flex-[2];
  }

  .content-right {
    @apply flex-1 max-w-[600px] min-w-[200px] relative;
  }

  .icon-btn {
    @apply flex items-center space-x-2 bg-white/5 px-3 py-2 rounded-md;
  }

  .icon-btn > svg {
    @apply w-5 h-5 block transition-all;
  }

  .icon-btn > span {
    @apply text-white font-semibold;
  }

  .icon-btn:hover > svg {
    @apply scale-110;
  }

  .icon-btn:active > svg {
    @apply rotate-12;
  }

  .text-body {
    @apply text-white/60;
  }

  .markdown-box li {
    @apply list-disc list-outside ml-4;
  }
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
}

:root {
  --p: rgb(70, 222, 227);

  /* --b1: rgb(51, 179, 204);
  --b2: rgb(40, 121, 168);
  --b3: rgb(23, 79, 128);
  --b4: rgb(7, 29, 54); */

  --b1: #3db7ea;
  --b2: rgba(40, 124, 160, 1.0);
  --b3: rgba(27, 87, 115, 1.0);
  --b4: #0e2431;
}
