@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,700|Quicksand:300,400,700&display=swap');

body {
  background-color: hsl(240, 7%, 14%);
  font-family: 'Barlow Condensed', sans-serif;
  line-height: 1;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}
